<div class="container">
    <div class="row">
        <h1>Classes</h1>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Title" />
        </div>
        <div class="col">
            <button class="btn btn-outline-success me-md-2" (click)="filterClasses()">Filter</button>
            <button class="btn btn-outline-info" routerLink="/class/new">New</button>
        </div>
    </div>

    <br>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Language</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cls of classes" (click)="edit(cls.id)">
                <td>{{cls.title}}</td>
                <td>{{cls.language}}</td>
                <td>{{cls.level}}</td>
            </tr>
        </tbody>
    </table>
</div>