<div class="container">
    <div class="row">
        <h1>{{title}} Class</h1>
    </div>
    <form id="formClass">
        <div class="row">
            <div class="col-md-2">
                <label for="title">Title</label>
            </div>
            <div class="col-md-10">
                <input id="title" name="title" type="text" class="form-control" [(ngModel)]="class.title">
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="lang">Language</label>
            </div>
            <div class="col-md-4">
                <select class="form-select" name="language" id="lang" [(ngModel)]="class.language">
                    <option selected>Select</option>
                    <option value="EN">English</option>
                    <option value="FR">French</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="level">Level</label>
            </div>
            <div class="col-md-4">
                <select class="form-select" name="level" id="level" [(ngModel)]="class.level">
                    <option selected>Select</option>
                    <option value="C">Children</option>
                    <option value="B">Basic</option>
                    <option value="A">Advanced</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="planOfLesson">Plan of lesson</label>
            </div>
            <div class="col-md-10">
                <textarea id="planOfLesson" name="planOfLesson" type="text" class="form-control" rows="3"
                    [(ngModel)]="class.planOfLesson"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="contentOfLesson">Content</label>
            </div>
            <div class="col-md-10">
                <!-- <textarea id="contentOfLesson" name="contentOfLesson" type="text" class="form-control" rows="3"
                    [(ngModel)]="class.contentOfLesson"></textarea> -->
                <div class="NgxEditor__Wrapper">
                    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                    <ngx-editor [editor]="editor" [(ngModel)]="class.contentOfLesson">
                    </ngx-editor>
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-light me-md-2" routerLink="/class/all">Back</button>
            <button type="submit" class="btn btn-success" (click)="saveClass()">Save</button>
        </div>
    </form>
</div>