<div class="container">
    <div class="row">
        <h1>Students</h1>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Name" />
        </div>
        <div class="col">
            <button class="btn btn-outline-success me-md-2" (click)="filterStudents()">Filter</button>
            <button class="btn btn-outline-info" routerLink="/student/new">New</button>
        </div>
    </div>

    <br>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Whatsapp</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let std of students" (click)="edit(std.id)">
                <td>{{std.name}}</td>
                <td>{{std.email}}</td>
                <td>{{std.whatsapp}}</td>
            </tr>
        </tbody>
    </table>
</div>