<!-- Quando uma aula for AGENDADA, automaticamente gerará uma pendência de pagamento em Payments com status PENDENTE -->
<!-- Opcao de marcar a aula como PAGA -->

<!-- Filtro por aluno e mês -->
<!-- Gráficos de número de aulas por mês e valor recebido (ultimo mês, mes atual e próximo mês) -->


<div class="container">
    <div class="row">
        <h1>Payment</h1>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Student" />
        </div>
        <div class="col">
            <button class="btn btn-outline-success me-md-2" (click)="filterPayments()">Filter</button>
        </div>
    </div>

    <br>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th>Student</th>
                <th>Value</th>
                <th>Class Date</th>
                <th>Payment Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let paymt of payments">
                <td>{{paymt.student}}</td>
                <td>$ {{paymt.value}}</td>
                <td>{{paymt.classDate | date}}</td>
                <td>{{paymt.paymentDate | date}}</td>
            </tr>
        </tbody>
    </table>
</div>