<div class="container">
    <div class="row">
        <h1>{{tittle}} Student</h1>
    </div>
    <form id="formStudent">
        <div class="row">
            <div class="col-2">
                <label for="name">Name</label>
            </div>
            <div class="col-6">
                <input id="name" type="text" class="form-control" [(ngModel)]="student.name">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="email">E-mail</label>
            </div>
            <div class="col-6">
                <input id="email" type="text" class="form-control" [(ngModel)]="student.email">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="whatsapp">Whatsapp</label>
            </div>
            <div class="col-2">
                <input id="whatsapp" type="text" class="form-control" [(ngModel)]="student.whatsapp">
            </div>
            <div class="col-2">
                <label for="firstClass">First Class</label>
            </div>
            <div class="col-2">
                <input id="firstClass" type="date" class="form-control" [(ngModel)]="student.firstClass">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="lang">Language</label>
            </div>
            <div class="col-2">
                <select class="form-select" id="lang" [(ngModel)]="student.language">
                    <option selected>Select</option>
                    <option value="1">English</option>
                    <option value="2">French</option>
                </select>
            </div>
            <div class="col-2">
                <label for="level">Level</label>
            </div>
            <div class="col-2">
                <select class="form-select" id="level" [(ngModel)]="student.level">
                    <option selected>Select</option>
                    <option value="1">Children</option>
                    <option value="2">Basic</option>
                    <option value="3">Advanced</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="age">Age</label>
            </div>
            <div class="col-2">
                <input id="age" type="text" class="form-control" [(ngModel)]="student.age">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="notes">Notes</label>
            </div>
            <div class="col-6">
                <textarea id="notes" type="text" class="form-control" rows="3" [(ngModel)]="student.notes"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <button type="button" class="btn btn-light" routerLink="/student/all">Back</button>
                <button type="submit" class="btn btn-success" (click)="saveStudent()">Save</button>
            </div>
        </div>
    </form>
</div>